.red {
 color: red;
}

.navy {
  color: navy
}
table.th {
    bgcolor:beige
}
/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
    display: none !important;
}
